.border-radius-4-px {
    border-radius: 4px;
}

.max-width-400-px {
    max-width: 400px;
}

.border-none {
    border: none !important;
}

.box-shadow {
    box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.3);
}


